#######################
# Coding style        #
#######################

flake8
pep8-naming

#######################
# Debugging           #
#######################

ipdb

#######################
# Testing             #
#######################

pytest==3.2.5
pytest-cov==2.5.1

#######################
# Documentation       #
#######################

sphinx==1.6.7
autoapi
plantweb
pygments-github-lexers
git+https://github.com/guzzle/guzzle_sphinx_theme.git@06a0a1dc923f70b2d4058fb8abc5a30c5f5eff84#guzzle_sphinx_theme
